
<!-- 
<ul id="accordion2" >
	<li style="position: absolute; top: 0px; width: 320px; height: 160px; left: 0px; " class="">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/163186.png" width="80" height="80">
		<p class="slide_title" style="left: 320px; opacity: 0; "><strong>Push Pins</strong></p>
		<p class="slide_content" style="left: 320px; opacity: 0; ">A shiny 3D push pin pack made in Illustrator</p>
		<p class="slide_button" style="left: 320px; opacity: 0; "><a href="http://graphicriver.net/item/massive-pushpin-pack/55880?ref=GeertDD">More info</a></p>

		<div class="tiposprodutos" >
			Lorem ipsum dolor sit amet, consectetur adipiscing elit. Fusce nec nisi turpis, non eleifend odio. Praesent ultricies feugiat mauris vel venenatis. Duis luctus tincidunt rhoncus. Duis quis diam eu augue tincidunt sagittis sed ut massa. Ut vehicula fringilla auctor. Nullam bibendum magna interdum dui tempus aliquam. Vestibulum at diam diam, lobortis dictum massa. Quisque mollis, orci sed imperdiet vehicula, diam erat mollis diam, nec consequat nisi elit a dolor. Vestibulum ante ipsum primis in faucibus orci luctus et ultrices posuere cubilia Curae; Proin dapibus, nunc bibendum lobortis interdum, sapien ipsum scelerisque orci, eu viverra eros lorem adipiscing dolor.
		</div>
	</li>
	<li style="position: absolute; top: 0px; width: 320px; height: 160px; left: 160px; " class="">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/174906.jpg" width="80" height="80">
		<p class="slide_title" style="opacity: 0; left: 320px; "><strong>Flipping Digits</strong></p>
		<p class="slide_content" style="opacity: 0; left: 320px; ">Set of multifunctional flipping digits</p>
		<p class="slide_button" style="opacity: 0; left: 320px; "> </p>
	</li>
	<li style="position: absolute; top: 0px; width: 320px; height: 160px; left: 320px; " class="slide_opened">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/122819.jpg" width="80" height="80">
		<p class="slide_title" style="opacity: 1; left: 160px; "><strong>Digital Noise</strong></p>
		<p class="slide_content" style="opacity: 1; left: 160px; ">Used as background in fourth slide above</p>
		<p class="slide_button" style="opacity: 1; left: 160px; "><a href="http://graphicriver.net/item/digital-noise-pack/43522?ref=GeertDD">More info</a></p>
	</li>

</ul>
 -->


<form action="" id="form_segmentos">


<div id="segmento">

	<li style="position: absolute; top: 0px; width: 320px; left: 0px; " class="">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/163186.png" width="80" height="80">
		<p class="slide_title" style="left: 320px; opacity: 0; "><strong>Segmento 01</strong></p>
		<p class="slide_content" style="left: 320px; opacity: 0; ">A shiny 3D push pin pack made in Illustrator</p>
		<p class="slide_button" style="left: 320px; opacity: 0; "><a href="http://graphicriver.net/item/massive-pushpin-pack/55880?ref=GeertDD">More info</a></p>

	</li>
	<div class="tiposprodutos" >

		<h3>Segmento 01</h3>
		<label for="tipo_01">Tipo 01</label>
		<input type="checkbox" name="tipo_01" id="tipo_01" value="1"> <br> 

		<label for="tipo_02">Tipo 02</label>
		<input type="checkbox" name="tipo_02" id="tipo_02" value="1"> <br> 

		<label for="tipo_03">Tipo 03</label>
		<input type="checkbox" name="tipo_03" id="tipo_03" value="1"> <br> 
	</div>

	<li style="position: absolute; top: 0px; width: 320px; left: 160px; " class="">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/174906.jpg" width="80" height="80">
		<p class="slide_title" style="opacity: 0; left: 320px; "><strong>Segmento 02</strong></p>
		<p class="slide_content" style="opacity: 0; left: 320px; ">Set of multifunctional flipping digits</p>
		<p class="slide_button" style="opacity: 0; left: 320px; "> </p>
		
	</li>
	<div class="tiposprodutos" > 

		<h3>Segmento 02</h3>
		<label for="tipo_01">Tipo 01</label>
		<input type="checkbox" name="tipo_01" id="tipo_01" value="1"> <br> 

		<label for="tipo_02">Tipo 02</label>
		<input type="checkbox" name="tipo_02" id="tipo_02" value="1"> <br> 

		<label for="tipo_03">Tipo 03</label>
		<input type="checkbox" name="tipo_03" id="tipo_03" value="1"> <br> 
	</div>

	<li style="position: absolute; top: 0px; width: 320px; left: 160px; " class="">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/174906.jpg" width="80" height="80">
		<p class="slide_title" style="opacity: 0; left: 320px; "><strong>Segmento 03</strong></p>
		<p class="slide_content" style="opacity: 0; left: 320px; ">Set of multifunctional flipping digits</p>
		<p class="slide_button" style="opacity: 0; left: 320px; "> </p>

	</li>
	<div class="tiposprodutos" > 

		<h3>Segmento 03</h3>
		<label for="tipo_01">Tipo 01</label>
		<input type="checkbox" name="tipo_01" id="tipo_01" value="1"> <br> 

		<label for="tipo_02">Tipo 02</label>
		<input type="checkbox" name="tipo_02" id="tipo_02" value="1"> <br> 

		<label for="tipo_03">Tipo 03</label>
		<input type="checkbox" name="tipo_03" id="tipo_03" value="1"> <br> 
	</div>

	<li style="position: absolute; top: 0px; width: 320px; left: 160px; " class="">
		<img class="slide_thumb" alt="Thumbnail" src="http://s3.envato.com/files/174906.jpg" width="80" height="80">
		<p class="slide_title" style="opacity: 0; left: 320px; "><strong>Segmento 04</strong></p>
		<p class="slide_content" style="opacity: 0; left: 320px; ">Set of multifunctional flipping digits</p>
		<p class="slide_button" style="opacity: 0; left: 320px; "> </p>

	</li>
	<div class="tiposprodutos" > 

		<h3>Segmento 04</h3>
		<label for="tipo_01">Tipo 01</label>
		<input type="checkbox" name="tipo_01" id="tipo_01" value="1"> <br> 

		<label for="tipo_02">Tipo 02</label>
		<input type="checkbox" name="tipo_02" id="tipo_02" value="1"> <br> 

		<label for="tipo_03">Tipo 03</label>
		<input type="checkbox" name="tipo_03" id="tipo_03" value="1"> <br> 
	</div>

	<!-- <label for="materiais_construcao">Eletrico</label>
	<input type="checkbox" name="materiais_construcao" id="materiais_construcao" value="Eletrico"> -->


</div>


</form>
