@charset "utf-8";
/* === Author: FABIAN CARLOS ::: email: fabian.pow@gmail.com === */

/* ====== PRESETS ======= */
* { margin:0px; padding:0px; }

html { font-size: 80%; overflow-y: scroll; -webkit-overflow-scrolling: touch; -webkit-tap-highlight-color: rgba(0,0,0,0); -webkit-text-size-adjust: 100%; -ms-text-size-adjust: 100%;  }

html, button, input, select, textarea { font-family: sans-serif; color: #222; }
body { margin: 0; font-size: 1em; line-height: 1.4; }

/* ======== HTML5 display definitions ======== */
article, aside, figcaption, figure, footer, header, nav, hgroup ,section { display: block; }
audio, canvas, video { display: inline-block; *display: inline; *zoom: 1; }
audio:not([controls]) { display: none; }
[hidden] { display: none; }

body { margin:0px; padding:0px; background: #f5f5f5 url('../images/blog_background.png') repeat 0 0; height:100%; width:100%; top:0; left:0; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; -ms-font-smoothing: antialiased;font-smoothing: antialiased; }

/* Text Font and Color CUSTOM */
body, button, input, select, textarea { font-family: "Trebuchet MS", Tahoma, sans-serif; color:#474646; }

/* text selecteds CUSTOM */
::-moz-selection { background: #444444; color: #ffffff; text-shadow: none; }
::selection { background: #444444; color: #ffffff; text-shadow: none; }

abbr[title]{ cursor: help; }
label { cursor: pointer; }

b, strong { font-weight: bold; }
pre { white-space: pre; white-space: pre-wrap; word-wrap: break-word; }

img { border: 0; -ms-interpolation-mode: bicubic; }
figure { margin: 0; }

form { margin: 0; }

fieldset { border: 0; margin: 0; padding: 0; }

legend { border: 0; *margin-left: -7px; padding: 0; }

button, input { line-height: normal; *overflow: visible; }
button, input[type="button"], input[type="reset"], input[type="submit"] { cursor: pointer; -webkit-appearance: button; }

input[type="checkbox"], input[type="radio"] { box-sizing: border-box; }
input[type="search"] { -moz-box-sizing: content-box; -webkit-box-sizing: content-box; box-sizing: content-box; }

button::-moz-focus-inner, input::-moz-focus-inner { border: 0; padding: 0; }

textarea { overflow: auto; vertical-align: top; }

input:valid, textarea:valid {  }
input:invalid, textarea:invalid { background-color: #f0dddd; }

table { border-collapse: collapse; border-spacing: 0; }

a { text-decoration: none;}

hr { margin-bottom: 10px;}

/* fix floats in floated elements & fix to a element to a block */
.clear{ clear: both; }
.block { display: block; }
.left { float: left; }
.right { float:right; }
.red_mark { color: #db2c23; }

/* remove the highlight on a html input text element */
/*
textarea:focus{ outline: none;  }
input:focus { outline: none; }
select:focus { outline: none; } 
*/


/* LAYOUT  
   ===================================================================== */

#main{ 
	max-width: 1000px;
	min-width: 600px;
	min-height: 400px;
	margin: 0 auto;
	padding-bottom: 100px;
}

/* PEGUEI NO SITE = http://www.geertdedeckere.be/shop/accordionza/download/accordion2/demo.html
   ===================================================================== */

#sc_drag_area_protector div{
  border-radius: 0px 0px;
  margin:0;
  /*max-width:100%;*/
  min-width: 1px;

}

#sc_drag_area {
  height:100px;
  left:150px;
  position: absolute;
  top:100px;
  width:250px;
  z-index: 9999;
}
#sc_drag_container {
  border: 1px solid #0000FF;
  cursor: move ;
  height: 100% ;
  margin: 0;
  overflow: hidden;
  padding: 0;
  position: relative ;
  width: 100%;
  z-index:9997;
}
#sc_drag_area_protector {
  border-radius: 0px 0px;
  display: block;
  height:100%;
  left:0;
  top:0;
  position: absolute;
  width:100%;
  z-index:8500;
  margin: 0;
  
  min-width: 1px;
  overflow: hidden;
}
#sc_drag_size {
  background-color: rgba(44, 44, 44, 0.5);
  color:#ffffff;
  font-family: arial,san-serif;
  font-weight:bold;
  font-size:12px;
  height:18px;
  min-width:65px !important;
  left:12px;
  line-height:18px;
  position:absolute;
  padding-left:4px;
  padding-right:4px;
  text-align:center;
  top: -18px;
  z-index:9998;
}
#sc_drag_cancel, #sc_drag_crop {
  background-color: rgba(0, 0, 0, 0.5);
  cursor:pointer;
  color:#ffffff;
  font-size:12px;
  font-family: arial,san-serif;
  font-weight:bold;
  height:22px;
  line-height:22px;
  position:absolute ;
  z-index:9998
}
#sc_drag_crop {
  bottom:-25px;
  text-align: center;
  right:10px;
  min-width: 30px !important;
  padding: 0 10px;
}
#sc_drag_cancel {
  bottom:-25px;
  text-align: center;
  right:70px;
  min-width: 30px !important;
  padding: 0 10px;
}
#sc_drag_shadow_top, #sc_drag_shadow_bottom, #sc_drag_shadow_left, #sc_drag_shadow_right {
  background-color: #000000;
  opacity: 0.5;
  position: absolute;
  z-index:7000;
  border: 0;
}
#sc_drag_shadow_top {
  left: 0;
  top: 0;
}
#sc_drag_shadow_bottom {
  bottom: 0;
  right: 0;
}
#sc_drag_shadow_left {
  bottom: 0;
  left: 0;
}
#sc_drag_shadow_right {
  right: 0;
  top: 0;
}
#sc_drag_north_east, #sc_drag_north_west, #sc_drag_south_east, #sc_drag_south_west  {
  border:1px solid #FFFFFF;
  background-color: #0000FF;
  height: 5px;
  position: absolute;
  width: 5px;
  z-index:9998;
}
#sc_drag_north_east {
  cursor: ne-resize ;
  right: -4px ;
  top: -3px;
}
#sc_drag_north_west {
  cursor: nw-resize ;
  left: -3px ;
  top: -3px;
}
#sc_drag_south_east {
  bottom: -4px;
  cursor: se-resize ;
  right: -4px ;
}
#sc_drag_south_west {
  bottom: -4px;
  cursor: sw-resize ;
  left: -3px ;
}

.sc_tip_save_status {
  position :fixed;
  border-radius: 4px 4px;
  height: 30px;
  line-height: 30px;
  text-indent: 1em;
  width: 200px;
  background: #fff1a8;
  color: #000000;
  top:5px;
  left:45%;
  font-size: 12px;
}

.sc_tip_save_status a{
  text-decoration: underline;
  color: #2A5DB0;
}


/* LAYOUT
   ===================================================================== */

#accordion2{
	width: 800px;
	height: 200px; 
	background: #ddd;
	list-style: none;
	position: relative;
}

	#accordion2 li img{
		padding-right: 10px;
		float: left;
	}

	#accordion2 li{
		width: 800px;
		height: 60px;
	}
	#accordion2 li p strong{
		font-size: 18px;
	}



.tiposprodutos{
	opacity: 0;
	padding-top: 10px;
}




/* PRINCIPAL
   ===================================================================== */

#form_segmentos{
	margin-top: 20px;	
}

#segmento{
	width: 700px;
	height: 350px;
	list-style: none;
	position: relative;
	background: #eee;
}

	#segmento li img{
		padding-right: 10px;
		float: left;
	}

	#segmento li{
		width: auto;
	}
	#segmento li p strong{
		font-size: 18px;
	}

.tiposprodutos{
	clear: both;
	width: 800px;
	height: 250px;
	position: absolute;
	top: 80px;
	left: 0px;
	opacity: 0;
	display: none;
}

