<?= $this->doctype('HTML5')?>
<html lang="pt-br">
<head>
	<meta charset="utf-8" >
	<base href="http://<?=$_SERVER['HTTP_HOST'] . $this->baseUrl()?>/" >
	<title>App Comercial</title>
	<link type="text/css" rel="stylesheet" href="css/stylesheet.css" >

    <script src="//ajax.googleapis.com/ajax/libs/jquery/1.7.2/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="media/js/jquery-1.7.2.min.js"><\/script>')</script>    

    <?= $this->headScript('file', 'js/jquery.easing.1.3.js') ?>

    <?= $this->headScript('file', 'js/jquery.accordionza.min.js') ?>

    <?= $this->headScript('file', 'js/application.js') ?>

    <!--[if IE]> <script src="http://html5shiv.googlecode.com/svn/trunk/html5.js"></script> <![endif]-->
    <!--[if lt IE 7 ]>
        <script src="//ajax.googleapis.com/ajax/libs/chrome-frame/1.0.2/CFInstall.min.js"></script>
        <script>window.attachEvent("onload",function(){CFInstall.check({mode:"overlay"})})</script>
    <![endif]-->
	
</head>
<body>

  <div id="main">
     <header id="header">
        <h1>Feature - Segmentos > tipos produtos</h1>
     </header>

     <div id="content">
        <?= $this->layout()->content ?>
     </div>
  </div>

</body>
</html>